html {
  height: 100%;
  width: 100%;
}

.header {
    background-color: #8BAAAD;
    text-align: center;
    line-height: 1.25;
}

#subtext {
  font-family: "Inter", sans-serif;
  color: #224344;
  font-size: 25px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 10px;
}

#title {
  font-family: "Staatliches", sans-serif;
  color: #F4F2ED;
  font-size: 90px;
  padding-bottom: 10px;
}

h3, h1 {
  margin: 0;
}

.nav {
    background-color: #224344;
    padding: 5px;
    text-align: center;
    margin-top: 0px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav a {
  float: center;
  color: #F4F2ED;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:active {
  color: white;
  text-decoration: underline;
}

.nav .icon {
  display: none;
}

#home {
  text-decoration: underline;
}

.bigImage {
  background-color: white;
  padding: 20px 10px 20px 40px;
  text-align: center;
  margin: 5px;
}

.login { 
  background-color: white;
  padding: 20px 40px 20px 10px;
  text-align: center;
  margin: 5px;
}

#loginButton {
  background-color: #F44174;
  font-family: "Inter", sans-serif;
  border: none;
  color: #F4F2ED;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}

#loginTitle {
  font-family: "Staatliches", sans-serif;
  color: #F44174;
  font-size: 50px; 
  margin-bottom: 0px;
}

.w3-card {
    background-color: #F4F2ED;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}

#indexImage {
  width: 100%;
  object-fit: contain;
}

#nav {grid-area: nav;}
#header {grid-area: header;}
#one {grid-area: one;}
#two {grid-area: two;}
#footer {grid-area: footer;}

.container {
  display: grid;
  grid-template-areas:
  'header header'
  'nav nav'
  'one one'
  'two two'
  'footer footer';
}

.header {
  background-color: #8BAAAD;
  text-align: center;
  line-height: 1;
}

.content { 
  background-color: white;
  text-align: center;
}

.footer {
  background-color: #8BAAAD;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  height: 100px;
}

#image {grid-area: image; }
#login { grid-area: login; }

.contentOne {
  display: grid;
  grid-template-areas:
  'image image image login';
}

#text {grid-area: text; }
#imageOne { grid-area: imageOne; }
#imageTwo { grid-area: imageTwo; }
#imageThree { grid-area: imageThree; }

.contentTwo {
  display: grid;
  grid-template-areas:
  'text text text'
  'imageOne imageTwo imageThree';
  padding-left: 40px;
  padding-right: 40px;
}

.image {
  background-color: white;
  padding: 40px;
  text-align: center;
  margin: 5px;
}

.text { 
  background-color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  margin: 5px;
  font-size: 16px;
  font-weight: 500px;
}

#loginText {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 450;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

#pageButton {
  background-color: #F44174;
  font-family: "Inter", sans-serif;
  border: none;
  color: #F4F2ED;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  width: 350px;
}

#smallImage {
  width: 350px;
}


@media only screen and (max-width: 600px) {
  #nav {grid-area: nav;}
  #header {grid-area: header;}
  #one {grid-area: one;}
  #two {grid-area: two;}
  #footer {grid-area: footer;}

  .container {
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'one'
    'two'
    'footer';
  }

  #image {grid-area: image; }
  #login { grid-area: login; }

  .contentOne {
    display: grid;
    grid-template-areas:
    'image'
    'image'
    'image'
    'login';
  }

  #text {grid-area: text; }
  #imageOne { grid-area: imageOne; }
  #imageTwo { grid-area: imageTwo; }
  #imageThree { grid-area: imageThree; }

  .contentTwo {
    display: grid;
    grid-template-areas:
    'text'
    'imageOne'
    'imageTwo'
    'imageThree';
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav a:not(:first-child) {
    display: none;
  }

  .nav a:first-child {
   float: right; 
  }
  
  .nav a.icon {
    float: right;
    display: block;
  }
  
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}